<div class="container my-5">
  <h1 class="mb-3">Create an Employee</h1>
  <div class="row">
    <div class="col-4">
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <app-text-input
          [formControl]="employeeForm.controls['name']" [label]="'First Name'"></app-text-input>
        <app-text-input
          [formControl]="employeeForm.controls['surname']" [label]="'Last Name'"></app-text-input>
        <app-text-input
          [formControl]="employeeForm.controls['role']" [label]="'Role'"></app-text-input>
        <app-text-input
          [formControl]="employeeForm.controls['email']" [label]="'Email'"></app-text-input>
        <app-text-input
          [formControl]="employeeForm.controls['salary']"
          [label]="'Salary'" type="number"></app-text-input>
        <app-text-input
          [formControl]="employeeForm.controls['pictureUrl']" [label]="'Picture URL'"></app-text-input>

        <select
          class="form-select"
          formControlName="departmentName">
          <option value="" disabled>Select a department</option>
          @for (dept of departments; track dept.id) {
            <option [value]="dept.id">
              {{ dept.name }}
            </option>
          }
        </select>

        <div class="d-grid">
          <button
            [disabled]="employeeForm.invalid"
            class="btn btn-lg btn-primary mt-3"
            type="submit"
          >
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
