<mat-card class="max-w-lg mx-auto mt-32 p-8 bg-white">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="text-center mb-6">
      <h1 class="text-3xl font-semibold text-primary">Register</h1>
    </div>
    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" type="text" placeholder="First Name"/>
      @if (registerForm.get('firstName')?.errors?.['required']) {
        <mat-error>First name is required.</mat-error>
      }
      @if (registerForm.get('firstName')?.errors?.['minlength']) {
        <mat-error>First Name must be at least {{ nameMinLength }} characters long.</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" type="text" placeholder="Last Name"/>
      @if (registerForm.get('lastName')?.errors?.['required']) {
        <mat-error>Last name is required.</mat-error>
      }
      @if (registerForm.get('lastName')?.errors?.['minlength']) {
        <mat-error>Last Name must be at least {{ nameMinLength }} characters long.</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="email" type="email" placeholder="name@example.com"/>
      @if (registerForm.get('email')?.errors?.['required']) {
        <mat-error>Email is required.</mat-error>
      }
      @if (registerForm.get('email')?.errors?.['email']) {
        <mat-error>Enter a valid email.</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full mb-6">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Password"/>
      @if (registerForm.get('password')?.errors?.['required']) {
        <mat-error>Password is required.</mat-error>
      }
      @if (registerForm.get('password')?.errors?.['minlength']) {
        <mat-error>Password must be at least {{ passwordMinLength }} characters long.</mat-error>
      }
      @if (!(registerForm.get('password')?.errors?.['minlength']) &&
      registerForm.get('password')?.errors?.['pattern']) {
        <mat-error>
          Password must contain at least one uppercase letter, one number, and one special character.
        </mat-error>
      }
    </mat-form-field>
    <button
      mat-flat-button
      type="submit"
      class="w-full py-2 bg-primary text-white"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
  </form>
</mat-card>
