@if (employee) {
  <mat-card appearance="raised" class="employee-card">
    <img
      src="{{employee.pictureUrl}}"
      alt="image of {{employee.name}}"
      routerLink="/employee/{{employee.id}}"
      >
    <mat-card-content class="mt-2">
      <h2 class="text-sm font-semibold uppercase">{{ employee.name }} {{ employee.surname }}</h2>
      <p class="font-light">Department : {{ employee.departmentName }}</p>
      <p class="font-light">Role : {{ employee.role }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-stroked-button
        class="w-full"
        [routerLink]="['/employees', 'update', employee.id]"
        >
        <mat-icon>update</mat-icon>
        Update
      </button>
    </mat-card-actions>
  </mat-card>
}
